.hometop{
    text-align: center;
    background: url('../../Images/city.svg') bottom  no-repeat #0d1f47;
    background-size: 100%;
    min-height: 750px;
}
.hometop-tabs{
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hometop-tabs>h1{
    color: #fff;
    margin-bottom: 40px;
    line-height: 1.4;
    font-weight: 700;
}
.tab-top-home{
    max-width: 450px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}
.tab-top-home .nav-tabs{
    border-bottom: none;
}
.tab-top-home .nav-tabs .nav-link{
    border-bottom: 2px solid #dee2e6;
    width: 33.3%;
    font-weight: 700;
    color: #000;
}
.tab-top-home .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #dee2e6;
    border-color: transparent transparent #dee2e6 transparent;
    color: #7793cf;
}
.tab-top-home .nav-tabs .nav-link.active{
    border-bottom: 2px solid;
    border-color: transparent transparent #0d1f47 transparent;
    color: #7793cf;
}
.one-tab{
    padding: 20px 10px;
}
.in-zip{
    width: 100%;
    padding: 15px 16px;
    margin-bottom: 10px;
}
.img-seen-client{
    width: 4rem;
    height: 4rem;
    margin: 4px 1rem;
}
.insurance-working{
    background: #f1f6f8;
    padding: 2rem 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.insurance-how-works{
    display: flex;
}
.insurance-how-left{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1rem;
}
.insurance-how-right{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1rem;
}
.list-bullet li{
    position: relative;
    list-style-type: none;
}
.list-bullet li::before{
    background-color: #ff7113;
    border-radius: 100px;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 18px;
    width: 18px;
    position: absolute;
    left: -28px;
    top: 6px;
}
.top-rated{
    background: #f1f6f8;
    padding: 2rem 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

@media only screen and (max-width:992px){
    .insurance-how-works{
        flex-direction: column-reverse;
    }
    .insurance-how-left{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .insurance-how-right{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (min-width:769px){
    .tab-top-home{
        width:450px;
    }
}