.card-all-quotes{
    cursor: pointer;
    position: relative;
    display: table;
    background: #fff;
    border-radius: 0;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
    padding: 7px;
    border-top: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
}
.choose-qu-left{
    margin: 4px 0;
    text-align: left;
    background-color: #fff;
}