.add-info{
    padding-top: 75px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
}
.head-add-info{
    background-color: teal;
    width: 100%;
    text-align: center;
    padding: 6px;
    margin: 0;
    color: #fff;
}
.insurance-add-info{
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
}
.select-insu{
    width: 100%;
    background-color: #3fc4ff;
    color: #fff;
    padding: 2px 8px;
}
.in-insurance-info{
    border: 1px solid #ddd;
    padding: 8px 12px;
    width: 100%;
}
.select-insu>span{
    font-size: 12px;
}
.select-year-all{
    width: 100%;
    border: 1px solid #ddd;
    max-height: 535px;
    overflow-y: scroll;
}
/* .select-year-all:focus-within{
    border: 2px solid red;
} */
.select-year{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    cursor: pointer;
}
.remove-st-info>span{
    padding: 4px 10px 5px;
    cursor: pointer;
    background-color: #0077b9;
    color: #fff;
    margin: 0 1px;
}
.select-make{
    margin: 4px 1.2rem;
    padding: 4px 2px;
    box-shadow: 1px 5px 5px -1px rgba(0,0,0,.1);
    cursor: pointer;
    display: inline-block;
}
.img-make-select{
    width: 6rem;
    height: 5rem;
    padding: 6px;
}
.select-make>p{
    margin-bottom: 0;
    padding: 0.25rem;
    text-align: center;
}
.select-modal{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    cursor: pointer;
}
.in-info-all{
    border: none;
    margin-left: 1rem;
}
.in-info-all:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
.trim-next-link{
    color: inherit;
}
.trim-next-link:hover{
    color: inherit;
    text-decoration: none;
}