
.lead-b-tp-f{
    padding-top: 74px;
}
.ver-tab-lead{
    flex-grow: 1;
    display: flex;
    height: 100%;
    padding-top: 74px;
}
.ver-tab-lead .PrivateTabIndicator-vertical-4{
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 70%, 85% 50%, 100% 30%);
    width: 100%;
    background-color: #0d1f47;
    z-index: -1;
    transition: none;
    display: none;
    /* edit */
}
.ver-tab-lead .MuiTab-root{
    height: calc((100vh - 74px) / 5);
    color: #fff;
    background-color: #08152D;
    opacity: 1;
    /* transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
}
.ver-tab-lead .MuiTab-textColorInherit.Mui-selected{
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 70%, 85% 50%, 100% 30%);
    width: 100%;
    background-color: #0d1f47;
}
.ver-tab-lead .MuiTab-root:focus{
    outline: none;
}
.content-control{
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 70%, 82% 56%, 100% 41%);
}

.lead-board{
    display: flex;
    align-items: center;
    /* box-shadow: 0 2px 15px -15px #000000; */
    width: 100%;
    padding: 10px;
    min-height: 90px;
    
}
.lead-board:nth-child(even){
    background-color: #f2f2f2;
}
.lead-board>h1{
    margin: 0;
    font-weight: 700;
}
.lead-board>img{
    width: 4rem;
    height: 4rem;
    background-color: #08152D;
    border-radius: 50%;
    border: 2px solid #ff0000;
    margin-left: 1rem;
}
.lead-user-info{
    margin-left: 1rem;
    line-height: 1.4;
}
.lead-user-info>h6{
    margin: 0;
}
.lead-dcr-full{
    width: 280px;
    display: flex;
}
.lead-dcr{
    margin: 0;
    font-size: 12px;
    color: #8996a9;
}
.lead-dcr-num{
    margin: 0;
    font-size: 13px;
}

/* @media only screen and (max-width: 767px){
    .ver-tab-lead{
        padding-top: 59px;
    }
} */

.lead-flex-divide{
    display: flex;
}
.lead-flex-left{
    padding: 24px 12px 24px 24px;
    flex: 1 1 60%;
}
.lead-flex-right{
    padding: 24px 24px 24px 12px;
    flex: 1 1 40%;
}
.tabs-ver {
    height: calc(100vh - 74px);
}
.tabs-ver .ant-tabs-nav-list{
    height: calc(100vh - 74px);
    background-color: #08152D;
}
/* .tabs-ver .ant-tabs-nav>div{

} */
.tabs-ver .ant-tabs-tab{
    height: calc((100vh - 74px) / 5);
    padding: 14px !important;
    display: flex ;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 !important;
    min-width: 150px;
    background-color: #08152D;
    /* writing-mode: tb-rl; */
}
.tabs-ver .ant-tabs-tab:focus{
    color: #000;
}
.tabs-ver .ant-tabs-tab{
    color: #C4C4C4;
}
.tabs-ver .ant-tabs-tab-active{
    background-color: #0d1f47;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 70%, 85% 50%, 100% 30%);
}
.tabs-ver .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn, .tabs-ver .ant-tabs-tab-btn{
    color: #fff;
    height: 100%;
}
.tabs-ver .ant-tabs-ink-bar{
    /* background-color: #000; */
    display: none;
}
.tabs-ver .ant-tabs-tabpane{
    padding-left: 0 !important;
}
.anim-to-bottom{
    animation: moveToBottom 1s forwards;
}
.anim-to-top{
    animation: moveToTop 1s forwards;
}
.tabs-ver .ant-tabs-tabpane-active{
    animation: moveToBottom 1s forwards;
}
@keyframes moveToBottom {
    from {transform: translate3d(0px, -800px, 0px);}
    to {transform: translate3d(0px, 0px, 0px);}
}
@keyframes moveToTop {
    from {transform: translate3d(0px, 800px, 0px);}
    to {transform: translate3d(0px, 0px, 0px);}
}

.cls-mat{
    width: 2rem;
    height: 2rem;
    background-color: #08152D;
    border-radius: 50%;
}
.pane-tab-cust{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
}
.pane-tab-cust>img{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #08152D;
    border-radius: 50%;
    margin-bottom: 4px;
}
.pane-name{
 margin: 0;
}
.pane-time{
 margin: 0;
 font-size: 8px;
 color: #8996a9;
}
.pane-up-cls{
 margin: 0;
 font-size: 8px;
 background-color: #040a16;
 padding: 1px;
 border-radius: 4px;
}
.sliders-hoz{
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliders-hoz>p{
    margin: 0 4px 0 0;
    height: 8px;
    width: 100%;
    background: linear-gradient(to right, #08152D, #2665d9);
}
.sliders-hoz>small{
    min-width: 82px;
}
.map-ver{
    margin: 0 6px;
    height: 130px;
    width: 8px;
    background: linear-gradient(to top, #08152D, #2665d9);
}
.map-ver:nth-child(2){
    height: 120px;
}
.map-ver:nth-child(3){
    height: 100px;
}
.map-ver:nth-child(5){
    height: 50px;
}

@media only screen and (min-width: 1200px) and (min-height: 800px) {
    /* .tabs-ver .ant-tabs-nav>div{
        width: 70px;
    } */
    /* .tabs-ver .ant-tabs-content{
        padding-right: 14%;
    } */

}
@media only screen and (min-width: 1700px){
    .tabs-ver{
        height: calc(100vh - 94px);
    }
    .tabs-ver .ant-tabs-nav-list{
        height: calc(100vh - 94px);
    }
    .tabs-ver .ant-tabs-tab{
        height: calc((100vh - 94px) / 5);
    }
    .lead-b-tp-f{
        padding-top: 94px;
    }
}