.top-brok-i{
    height: 60vh;
    display: flex;
    align-items: center;
    /* padding-top: 74px; */
}
.each-broker-industry-flex{
    display: flex;
    width: 100%;
}
.brk-i-left{
    flex: 1 1 55%;
    padding: 3rem 1rem 1rem 4rem;
    overflow: hidden;
}
.brk-i-right{
    flex: 1 1 45%;
    padding: 1rem 2rem 0 1rem;
    overflow: hidden;
}
.brk-i-left>div{
    max-width: 600px;
}
.brk-i-left>div>h6, .brk-i-left>div>h1{
    font-weight: 700;
    white-space: nowrap; 
    max-width: 500px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.brk-tab-rt .nav-tabs{
    border-bottom: 0.5px solid #E5E5E5;
    text-align: center;
}
.brk-tab-rt .nav-link{
    border: none;
    padding: 1rem;
    flex: 1;
    text-align: center;
}
.bottom-brok-i .nav-link{
    border: none;
    padding: 1rem 0;
    flex: 1;
    text-align: left;
}
.brk-tab-rt .nav-link:focus, .bottom-brok-i .nav-link:focus{
    outline: none;
}
.brk-tab-rt .nav-link.active, .bottom-brok-i .nav-link.active{
    font-weight: 700;
    color: #08152D;
    border-bottom: 1px solid #000;
}
.bottom-brok-i{
    height: calc(40vh - 129px);
    padding: 0 4rem;
}
.bottom-brok-i .tab-content{
    height: 100%;
    padding: 1rem 0;
    width: 100%;
}
.bottom-brok-i .tab-pane{
    height: 100%;
}
.brk-user-img{
    width: 70px;
    border-radius: 50%;
    margin: 0 1rem;
}
.broker-users{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.transaction-input{
    width: 100%;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.tra-in-lf, .tra-in-rt{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tra-in-lf{
    padding: 10px 10px 10px 20px;
    width: 100%;
    border-radius: 10px;
}
.tra-in-rt{
    padding: 10px;
    width: 66px;
    background-color: #08152D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tra-in-lf>input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 0 10px;
}
.tra-in-lf>input:focus{
    border: none;
    outline: none;
}
.tra-in-rt>img{
    width: 20px;
}
.full-brok-tb{
    padding-top: 74px;
    height: 100vh;
}
.brk-tab-rt .tab-pane{
    padding: 2rem 0 0;
}
.brk-tab-rt{
    padding: 0.1rem 2rem 2rem;
    border: 0.5px solid #E5E5E5; 
    border-radius: 10px;
    max-width: 550px;
}

@media only screen and (max-width: 768px){
    .each-broker-industry-flex{
      flex-direction: column;
    }
    .dis-mob-inds{
        display: none;
    }
    .top-brok-i{
        height: 100%;
        display: block;
    }
    .bottom-brok-i{
        height: 100%;
    }
    .brk-i-left{
        padding: 0 1rem;
    }
    .brk-i-right{
        padding: 0;
    }
    /* .brk-i-right .tab-pane{
        padding: 1rem;
    } */
    .brk-i-left>div>h6, .brk-i-left>div>h1{
        text-align: center;
        max-width: 100%;
    }
    .brk-tab-rt .tab-content{
        padding: 2rem;
        text-align: center;
    }
    .full-brok-tb{
        height: 100%;
    }
    .brk-tab-rt .nav-link, .bottom-brok-i .nav-link{
        padding: 1rem 0;
    }
    .bottom-brok-i .tab-content{
        padding: 1rem 10px;
    }
}
@media only screen and (max-width: 768px){
    .brk-tab-rt .tab-content{
        padding: 10px;
    }
}
@media only screen and (min-width: 1600px){
    .brk-i-left{
        padding-left: 10rem;
    }
    .brk-i-right{
        padding-right: 9rem;
    }
    .bottom-brok-i{
        padding: 0 10rem;
    }
}
@media only screen and (min-height: 800px){
    .top-brok-i{
        height: 70vh;
    }
    .bottom-brok-i{
        height: calc(30vh - 129px);
    }
    .brk-i-left>div>h6{
        font-size: 1.5rem;
    }
    .brk-i-left>div>h1{
        font-size: 3rem;
    }
    .brk-i-left>div>p{
        font-size: 1.1rem;
    }
    .transaction-input{
        margin-bottom: 3.5rem;
        height: 70px;
    }
    .brk-tab-rt .tab-pane{
        padding: 3.5rem 0 1.5rem 0;
    }
    .wt-trans{
        margin-bottom: 2.5rem;
    }
}
@media only screen and (min-width: 1700px){
    .full-brok-tb{
        padding-top: 94px;
    }
}