.search-in-full{
    width: 100%;
}
.search-input{
    width: 100%;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 2rem;
}
.search-input>input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 0 10px;
}
.search-input>input:focus{
    border: none;
    outline: none;
}
.search-input>img{
    width: 20px;
}
.select-img-find-b{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    min-height: 60vh;
}
.select-one-each-find-b{
    padding: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 310px;
    min-height: 200px;
    cursor: pointer;
    margin: 10px;
}
.select-one-each-find-b:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.select-one-each-find-b>img{
    width:80px;
}
.need-brok-full{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 75px;
}
/* .need-brok-full>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
.head-n-search{
    max-width: 960px; 
    padding: 0 20px;
    min-height: calc(40vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.broker-suggestion-mob{
    padding: 16px 30px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.broker-suggestion-mob>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}
.ned-brok-head{
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 700;
    color: #08152D;
}

@media only screen and (max-width: 768px){
    .need-brok-full{
        height: 100vh;
        /* padding-top: 59px; */
    }
    .head-n-search{
        padding: 0 4px;
    }
    .select-img-find-b{
        display: none;
    }
    .search-input{
        margin-bottom: 0;
        box-shadow: unset;
    }
    .search-in-full{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .ned-brok-head{
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}
@media only screen and (min-width: 769px){
    .broker-suggestion-mob{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .need-brok-full{
        padding-left: 1rem;
        padding-right: 1rem;
        /* font-size: 5vw; */
    }
    .head-n-search{
        padding: 0;
    }
    .ned-brok-head{
        margin-bottom: 2rem;
        font-size: 5vw;
    }
    .search-input>input{
        font-size: 5vw;
    }
}
@media only screen and (min-width: 1700px){
    .need-brok-full{
        padding-top: 94px;
    }
}