.login-ag{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    position: relative;
}
.login-ag>div{
    /* animation: zoomLog 0.7s 1 0s linear; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@keyframes zoomLog {
    0% { opacity: 0.6;
        transform: scale(1.4);
        transition: transform 2000ms, opacity 2000s; }
    100% {  opacity: 1;
        transform: scale(1);
        transition: transform 2000ms, opacity 2000ms; }
}
.login-in-et-code, .login-in-mail, .login-in-user{
    width: 100%;
    border: none;
    border: 0.5px solid #E5E5E5;
    padding: 1rem;
    font-size: 1rem;
    color: #08152D;
}
.login-in-et-code::placeholder, .login-in-mail::placeholder, .login-in-user::placeholder, .login-in-pass::placeholder{
    font-size: 1rem;
}
.login-in-pass{
    width: 100%;
    border: none;
    border: 0.5px solid #E5E5E5;
    padding: 1rem;
    font-size: 1rem;
    color: #08152D;
}
.login-in-pass::placeholder{
    font-size: 1rem;
}
.login-in-login{
    border: 3px solid #08152D;
    background-color: #08152D;
    color: #fff !important;
    text-align: center;
    border-radius: 0;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 1rem;
    min-width: 8rem;
}
.login-in-login:hover{
    background-color: #08152D;
    color: #fff;  
}
.checkload-anim{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1320;
    display: flex;
    align-items: center;
    justify-content: center;
}