.brand-tp-f, .brand-prof-tp-f{
    padding-top: 74px;
}
.main-full-sec{
    width: 100%;
    height: calc(50vh - 37px);
}
.dis-overlay{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image{
    width: 9rem;
}
.hide-over-content{
    /* display: none; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.hide-over-content>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: openBrandInfo 0.4s ease-out forwards;
}
@keyframes openBrandInfo {
  0% { transform: scale(0); }
  100% { transform: scale(1);   }
}
.tp-over-img-txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .dis-overlay:hover{
    display: none;
}
.dis-overlay:hover + .hide-over-content{
    display: block;
} */
.over-img{
    width: 7rem;
}
.over-head{
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 4px;
}
.over-para{
    font-weight: 700;
    color: #fff;
    margin: 0 0 0 1px;
    text-align: center;
}
.two-btn-down{
    height: 3rem;
    width: 100%;
    margin-top: auto;   
    display: flex;
    /* border-top: 1px solid #fff; */
}
.btn-wh-lft{
    width: 100%;
    background-color: #fff;
    color: #186AB4;
    height: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 0;
}
.btn-inhr-rgt{
    width: 100%;
    background-color: inherit;
    color: #fff !important;
    height: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 0;
}
.dis-overlay-comming-soon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.comming-soon-btn{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 0;
}
.comming-soon-btn:hover{
    background: #08152D;
    color: #FFFFFF;
}

@media only screen and (min-width: 1700px){
    .over-img{
        width: 10rem;
    }
}
@media only screen and (max-width: 600px){
    .hide-over-content{
        height: calc(100vh - 74px);
        z-index: 1;
        position: fixed;
        top: 74px;
    }
}

/* BrandProfile ************************************************ */
.bg-build{
    height: calc(45vh - 74px);
    width: 100%;
    /* background-image: url('../../Images/BG_building.png'); */
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% 100%;
    border-bottom: 1px solid #f2f2f2;
}
.prof-info-bef{
    height: 55vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.prof-info-aft{
    height: 55vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10%;
}
.prof-logo-name-ldb{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.prof-logo-name-lda{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}
.prof-img{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -77px;
}
.prof-img>img{
    width: 7rem;
}
.prof-head{
    font-weight: 700;
    /* color: #2676B1; */
    margin-top: 36px;
}
.prof-head>i{
    font-size: 20px;
}
.prof-para{
    max-width: 444px;
}
.btn-b-prof{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    font-weight: 600; 
    /* color: #4384C3; */
}
.btn-b-prof>img{
    margin-right: 8px;
}
.prof-para-btns-bef{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.prof-para-btns-aft{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.brand-prof-d{
    width: 500px;
    padding: 40px 0 40px 40px;
    overflow: hidden;
    height: 100%;
}
.brand-prof-ins-cy{
    width: 500px;
    padding: 40px 40px 0;
    overflow: hidden;
    height: 100%; 
}
.b-pr-mui .MuiBackdrop-root{
    background-color: transparent !important;
}
.comp-head{
    font-weight: 700;
    color: #2676B1;
    margin-bottom: 0;
}
/* .instB-head{
    margin-left: 20px;
} */
.instB-head>h3{
    font-weight: 700;
    color: #08152D;
    /* margin-bottom: 0; */
}
.instB-head>h6{
    /* font-size: 12px; */
    color: #9a9a9a;
}
.b-pr-mui .MuiDrawer-paper{
    top: 74px;
    height: calc(100% - 74px); 
}
.tranl{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    max-width: 310px;
    min-width: 310px;
}
.img-tx-tran{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.img-tx-tran>h6{
    font-weight: 600;
    margin: 0 0 0 10px;
    color: #2676B1;
}
.tranl>p{
    color: #9A9A9A;
    font-size: 12px;
}
.lice{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.rev-strem{
    display: flex;
    overflow: scroll;
}
.rev-strem::-webkit-scrollbar{
    display: none;
}
.incy-lis{
    border: 0.5px solid #EBEBEB;
    border-radius: 10px;
    padding: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.incy-lis-para{
    margin: 0;
    color: #2676B1;
}
/* .sd-bg-build{
    height: 45vh;
    width: 100%;
    background-image: url('../../Images/BG_building.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}
.sd-prof-info{
    height: 55vh;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 40px;
}
.sd-prof-para-btns{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.sd-prof-para{
    max-width: 444px;
    text-align: left;
} */
.back-to-brand{
    position: absolute;
    left: 0;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    /* color: #186AB4; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-brand>h6{
    margin: 0 0 0 10px;
    font-weight: 600;
    /* color: #186AB4; */
}
.broker-li-head{
    margin-bottom: 2rem;
}
.broker-li-head>h3{
    font-weight: 700;
    color: #08152D;
}
.broker-li-head>h6{
    color: #2676B1;
}
.brok-lices{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px;
    margin-bottom: 8px;
}
.img-head-a{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.img-head-a>img{
    width: 1.6rem;
}
.img-head-a>h5{
    font-weight: 600;
    margin: 0 0 0 10px;
}
.btn-brk-lice{
    background-color: #fff;
    border: 0.5px solid #E5E5E5;
    color: #08152D;
    border-radius: 0;
    min-width: 9rem;
}
.btn-brk-lice:hover{
    background-color: #08152D;
    border: 0.5px solid #E5E5E5;
    color: #fff;
}
.btn-brk-lice:nth-child(1){
    margin-right: 8px;
}
.brok-all-lic{
    overflow: scroll;
    height: calc(100% - 106px);
}
.brok-all-lic::-webkit-scrollbar{
    display: none;
}
.mail-over{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 21, 45, 0.9);;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1400;
}
.mail-over>input{
    margin-bottom: 10px;
    min-height: 3rem;
}
.btn-mail-sub{
    background-color: #08152D;
    border: 0.5px solid #E5E5E5;
    color: #fff !important;
    border-radius: 0;
    min-width: 8rem;
    margin: 0 4px;
}
.btn-mail-sub:hover{
    background-color: #E5E5E5;
    border: 0.5px solid #E5E5E5;
    color: #08152D !important;
}

@media only screen and (max-width: 768px){
    .prof-info-bef{
        height: calc(55vh - 40px);
    }
}
@media only screen and (min-width: 1700px){
    .brand-tp-f, .brand-prof-tp-f{
        padding-top: 94px;
    }
    .main-full-sec{
        height: calc(50vh - 47px);
    }
    .bg-build{
        height: calc(45vh - 94px);
    }
    /* .brand-prof-d{
        height: calc(100% - 94px);
    } */
    /* .brand-prof-ins-cy{
        height: calc(100% - 94px); 
    } */
    .b-pr-mui .MuiDrawer-paper{
        top: 94px;
        height: calc(100% - 94px); 
    }
    .brok-all-lic{
        height: calc(100% - 126px);
    }
}