.progress-steps {
    list-style: none;
    margin: 5px auto;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 300px;
    color: #404040;
}
.progress-steps>li {
    position: relative;
    display: table-cell;
    text-align: center;
    text-transform: uppercase;
}
.progress-steps>li.is-car:before {
    color: #fff;
    /* background: #ea8744; */
}
/* .progress-steps>li.is-driver:before {
    color: #fff;
    background: #ea8744;
} */
.progress-steps>li:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: #ddd;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: normal;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    border: 5px solid #fff;
}
.is-car:after, .is-driver:after {
    content: "";
    position: absolute;
    display: block;
    background: #ddd;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 50%;
    margin-left: 1.5em\9;
    z-index: 1;
}
.tell-your-link{
    font-size: 12px;
    color: #404040;
}
.car-info-head{
    font-weight: 700;
    text-align: center;
}
.card-use{
    display: inline-table;
    text-align: center;
    box-shadow: 1px 5px 5px -1px rgba(0,0,0,.1);
    padding: 0;
    min-height: 105px;
    min-width: 120px;
    margin: 0 2px;
}
.card-use img{
    width: 4rem;
}
.card-use p{
    font-size: 12px;
    margin-bottom: 0;
}
.card-use-selected{
    background-color: #33d8a5;
    color: #fff;
}
.card-use label {
    display: inline-table;
    text-align: center;
    /* box-shadow: 1px 5px 5px -1px rgba(0,0,0,.1); */
    padding: 6px;
    min-height: 105px;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.card-use label:hover {
    background-color: #8ad7ec2c;
}

.card-use input[type=radio] {
    display: none;
}

.card-use input[type=radio]:checked~label {
    background-color: #33d8a5;
    color: #fff;
}
.car-detl-info{
    display: inline-table;
    padding: 0;
    margin: 2px;
    background-color: #ddd;
    box-shadow: 1px 5px 5px -1px rgba(0,0,0,.1);
}
.car-detl-info label {
    display: inline-table;
    text-align: center;
    width: 100%;
    margin: 0;
    cursor: pointer;
    padding: 10px 14px;
}
.car-detl-info label:hover {
    background-color: #8ad7ec2c;
}
.car-detl-info input[type=radio] {
    display: none;
}
.car-detl-info input[type=radio]:checked~label {
    background-color: #33d8a5;
    color: #fff;
}
.left-short-info{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.card-big-info{
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0,0,0,.05);
    transition: all 1s ease-out;
}
.select-current-carrier{
    padding: 4px 2px; 
    box-shadow: 1px 5px 5px -1px rgba(0,0,0,.1); 
    cursor: pointer; 
    display: inline-block;
    text-align: center;
}
.select-curt-carrier{
    width: 100%;
    background-color: #3fc4ff;
    color: #fff;
    padding: 2px 8px;
}
.select-curt-carrier>span {
    font-size: 12px;
}
.remove-current-carrier{
    padding: 8px;
    border: 1px solid #dcdcdc;
}
.remove-current-carrier>span{
    padding: 4px 10px 5px;
    cursor: pointer;
    background-color: #0077b9;
    color: #fff;
    margin: 0 1px;
}

@media only screen and (min-width: 768px){
    .progress-steps {
        width: 470px;
        margin: 0 auto 10px;
    }
}
@media only screen and (max-width: 767px){
    .card-use{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        box-shadow: none;
        padding: 6px;
        min-height: 10px;
        margin: 0;
    }
    .card-use>img{
        width: 2rem;
        margin-left: 1rem;
    }
    .card-use>p{
        margin-left: 1rem;
    }
}
@media only screen and (max-width:425px){
    .progress-steps{
        width: 255px;
    }
}