.h-i-w-desk{
    position: relative;
}
.h-i-w-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 74px;
    height: 70vh;
    overflow: hidden;
}
.hiw-img-txt-top{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hiw-img-txt-top:nth-child(1){
    background-image: url('../../Images/HIW_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: moveToRight 1.6s forwards;
}
.hiw-img-txt-top:nth-child(2){
    padding: 20px;
    animation: moveToBottom 1.6s forwards;
}
.hiw-img-txt-top:nth-child(3){
    background-image: url('../../Images/HIW_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: moveToLeft 1.6s forwards;
}
.hiw-img-txt-top>h3{
    text-align: center;
    font-weight: 700;
    padding: 0 4%;
    line-height: 2;
}
.h-i-w-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
}
.hiw-img-txt-bottom-n1, .hiw-img-txt-bottom-n2, .hiw-img-txt-bottom-n3{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hiw-img-txt-bottom-n1{
    animation: moveToRight 1.6s forwards;
}
.hiw-img-txt-bottom-n2{
    background-color: #08152D;
    animation: moveToBottom 1.6s forwards;
}
.hiw-img-txt-bottom-n3{
    animation: moveToLeft 1.6s forwards;
}
.hiw-img-txt-bottom-n1>img, .hiw-img-txt-bottom-n2>img, .hiw-img-txt-bottom-n3>img{
    width: 18%;
    height: 36%;
}
.hiw-img-txt-bottom-n1>p, .hiw-img-txt-bottom-n2>p, .hiw-img-txt-bottom-n3>p{
    margin: 20px 0 0 0;
    font-weight: 700;
}
.hiw-img-txt-bottom-n2>p{
    color: #fff;
}
.hiw-img-txt-bottom-n1>img:hover, .hiw-img-txt-bottom-n2>img:hover, .hiw-img-txt-bottom-n3>img:hover{
    width: 20%;
    height: 40%;
    cursor: pointer;
}
.hiw-img-txt-bottom-n1>p:hover, .hiw-img-txt-bottom-n3>p:hover{
    text-shadow: 0 0 10px #08152D;
    cursor: pointer;
    font-weight: 800;
}
.hiw-img-txt-bottom-n2>p:hover{
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
    font-weight: 800;  
}

@keyframes moveToLeft {
    from {transform: translate3d(800px, 0px, 0px);}
    to {transform: translate3d(0px, 0px, 0px);}
}
@keyframes moveToRight {
    from {transform: translate3d(-800px, 0px, 0px);}
    to {transform: translate3d(0px, 0px, 0px);}
}
@keyframes moveToTop {
    from {transform: translate3d(0px, 800px, 0px);}
    to {transform: translate3d(0px, 0px, 0px);}
}
@keyframes moveToBottom {
    from {transform: translate3d(0px, -800px, 0px);}
    to {transform: translate3d(0px, 0px, 0px);}
}
.hvr-n1-X, .hvr-n2-X{
    color: #000; 
    position:absolute;
    right: -30px;
    cursor: pointer;
}
.hvr-n3-X{
    color: #000; 
    position:absolute;
    left: -30px;
    cursor: pointer;
}

.h-i-w-top-mob{
    min-height: 100vh;
    background-image: url('../../Images/HIW_mob.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}
.hiw-text-link{
    background-color: #fff;
    max-width: 90%;
    margin: auto 0 20px 0;
    padding: 30px 10%;
}
.hiw-text-link>h4{
    font-weight: 700;
}
.h-i-w-bottom-mob{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-top: 74px;
}
.hiw-img-txt-bottom-mob{
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hiw-img-txt-bottom-mob>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hiw-img-txt-bottom-mob:nth-child(2){
    background-color: #08152D;
}
.hiw-img-txt-bottom-mob>a>img{
    width: 18%;
    height: 36%;
    min-width: 84px;
    min-height: 68px;
}
.hiw-img-txt-bottom-mob>a>p{
    margin: 20px 0 0 0;
}
.hiw-img-txt-bottom-mob:nth-child(2)>a>p{
    color: #fff;
}
.hiw-text-link>a:hover{
    color: #000;
    animation: animmenlink 0.8s linear;
}
@keyframes animmenlink {
    0% {
        color: #fff;
    }
    100% {
        color: #08152D;
    }
}

.influ-info-1, .influ-info-3{
    position: absolute;
    left: 0;
    top: 0;
    background:  rgba(233,240,251,0.6);
    height: 100vh;
    width: 100%;
    display: none;
}
.influ-info-2{
    position: absolute;
    left: 0;
    top: 0;
    background:  rgba(233,240,251,0.6);
    height: 100vh;
    width: 100%;
    display: none;
}
.influ-pull-1, .influ-pull-2, .influ-pull-3{
    height: 100%;
    /* display: flex; */
}
.influ-pull-1>div{
    background-color: #fff;
    /* padding: 20px; */
    width: calc(100% / 3);
    position: absolute;
    bottom: 0;
    left: 0;
}
.influ-pull-2>div{
    background-color: #fff;
    color: #fff;
    width: calc(100% / 3);
    position: absolute;
    bottom: 0;
    left: calc(100% / 3)
}
.influ-pull-3>div{
    background-color: #fff;
    /* padding: 20px; */
    width: calc(100% / 3);
    position: absolute;
    bottom: 0;
    right: 0;
}
.btm-hvr-cont-1, .btm-hvr-cont-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
    padding: 20px;
}
.btm-hvr-cont-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
    background-color: #08152D;
    padding: 20px;
}
.img-h-hvr{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 1.5rem;
}
.i-infux-hvr, .i-afbk-hvr{
    width: 3rem;
}
.i-brk-hvr{
    width: 8rem;
}
.img-h-hvr>h5{
    margin: 0 0 0 8px;
    font-weight: 700;
}
.img-h-hvr>div>h5{
    margin: 0 0 0 8px;
    font-weight: 700;
}
.img-h-hvr>div>small{
    margin: 0 0 0 8px;
}
.expand-icon{
    width: 20px;
    margin-left: auto;
    cursor: pointer;
}
.comment-in{
    width: 100%;
    border: 1px solid #dcdcdc;  
    border-left: none;  
    border-right: none;  
    display: flex;  
    align-items: center;
}
.comment-in>input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: unset;
}
.comment-in>input:focus{
    border: 1px solid #dcdcdc;
    border-radius: unset;
    outline: none;
}
.comment-in>i{
    margin-left: auto;
    padding: 0 10px;
    font-size: 20px;
    color: #08152D;
}
.comment-user {
    background-color: #c4c4c4;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 4px 10px 0 0;
}
.vid-hovr-play{
    height: 100%;
    max-height: 373px;
    width: 100%;
}
.img-h-mob-abi{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.img-h-mob-abi>h5{
    margin: 0 0 0 8px;
    font-weight: 700;
}
.img-h-mob-abi>div>h5{
    margin: 0 0 0 8px;
    font-weight: 700;
}
.img-h-mob-abi>div>small{
    margin: 0 0 0 8px;
}
.vid-play-abi{
    /* height: 100%; */
    width: 100%;
}
.vid-tabs-abi .nav-tabs{
    border-bottom: none;
    text-align: center;
    padding: 1rem 0;
}
.vid-tabs-abi .nav-link{
    width: calc(100% / 4);
    border: none;
    padding: 0 0.5rem;
}
.vid-tabs-abi .nav-link:focus{
    outline: none;
}
.vid-tabs-abi .nav-link.active{
    font-weight: 700;
    color: #08152D;
}
.get-start-btn{
    background-color: #08152D;
    color: #fff !important;
    width: 100%;
    border-radius: 0;
    font-weight: 600;
    position: absolute;
    bottom: 42px;
}
/* .hiw-img-txt-bottom-n1:hover + .influ-info-1{
    display: block;
}
.hiw-img-txt-bottom-n2:hover + .influ-info-2{
    display: block;
} */

@media only screen and (min-width: 768px){
    .h-i-w-mob{
        display: none;
    }
}
@media only screen and (max-width: 767px){
    /* .h-i-w-top{
        padding-top: 59px;
    } */
    .h-i-w-desk{
        display: none;
    }
}
@media only screen and (min-width: 1200px){
    .i-infux-hvr, .i-afbk-hvr{
        width: 4.5rem;
    }
    .i-brk-hvr {
        width: 11rem;
    }
    .img-h-hvr>div>h5{
        font-size: 2rem;
    }
    .img-h-hvr>div>small{
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1700px){
    .h-i-w-top{
        padding-top: 94px;
    }
}