.app-down-page-h{
    height: 100vh; 
    padding: 20px;
    z-index: 1031; 
    background-color: #fff; 
    position: absolute;
    width: 100%;
}
.btn-brok-web-ap-d{
    background-color: #08152D; 
    color: #fff; 
    position: absolute; 
    right: 20px;
}
.btn-brok-web-ap-d:hover{
    background-color: #08152D; 
    color: #fff;
}
.pin-pop-e{
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(88, 87, 87, 0.5);
    text-align: center;
}
.pin-pop-e>p{
    font-weight: 600;
    margin-top: 1.5rem;
}
.pin-pop-e>input{
    height: 38px;
    font-size: 18px;
    border: 1px solid #000;
}
.btn-pin-submit{
    background-color: #08152D; 
    color: #fff !important;
    border-radius: unset;
    width: 100%;
}
.btn-pin-submit:hover{
    background-color: #08152D; 
    color: #fff;
}