.home-full{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 74px;
}
.home-full>div{
    max-width: 1400px; 
    padding: 0 20px;
}
.hm-head{
    margin-bottom: 0.4rem;
    text-align: center;
    font-weight: 700;
    color: #08152D;
}
.hm-head-second{
    margin-bottom: 3.8rem;
    text-align: center;
    color: #08152D;
}
.select-two-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-one-each{
    /* padding: 40px; */
    margin: 0 10px;
    /* border: 1px solid #E5E5E5; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-width: 320px;
    min-height: 200px; */
    cursor: pointer;
}
.select-one-each>img{
    width: 100%;
}
.select-one-each>img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wt-u-do-para{
    margin: 1rem 0 0 0;
    text-align: center;
}
.br-dis{
    display: none;
}
.cur-mob .ant-carousel .slick-dots{
    display: none !important;
}
.cur-mob .slick-slider{
    margin: 0 auto;
}
@media only screen and (max-width: 768px){
    /* .home-full{
        padding-top: 59px;
    } */
    .home-full>div{
        padding: 0 4px;
        width: 100%;
    }
    .select-two-img{
        display: none;
    }
    .select-one-each{
        min-width: 200px;
        margin: 10px;
        cursor: pointer;
    }
    .select-one-each>img{
        width: 100%;
    }
    .hm-head{
        /* margin-bottom: 0.4rem; */
        font-size: 2rem;
    }
    .hm-head-second{
        margin-bottom: 2.8rem;
    }
}
@media only screen and (max-width: 768px) and (min-width: 470px) {
    .br-dis{
        display: block;
    }
}
@media only screen and (max-width: 600px){
    .hm-head{
        /* margin-bottom: 0.4rem; */
        font-size: 1.6rem;
    }
    .hm-head-second{
        margin-bottom: 1.8rem;
    }
    /* .wt-u-do-para{
        font-size: 12px;
    } */
}
@media only screen and (min-width: 769px){
    .cur-mob{
        display: none;
    }
}
@media only screen and (min-width: 1200px){
    .select-one-each{
      min-width: 410px;
      min-height: 260px;
    }
  }
@media only screen and (min-width: 1700px){
    .home-full{
        padding-top: 94px;
    }
}
/* @media only screen and (max-width: 470px){
    .select-one-each{
        min-width: 95%;
    }
    .hm-head{
        margin-bottom: 2rem;
        font-size: 1.7rem;
    }
} */