.nav-full{
  /* border-bottom: 1px solid #d4dff7; */
  background-color: #08152D;
  min-height: 74px;
}
.nav-full .nav-link{
  color: #08152D !important;
}
.nav-full .dropdown-toggle::after{
  display: none;
}
.side-list-mf{
  /* border-top: 1px solid #f2f2f2; */
  height: 70px;
}
.list {
  width: 310px;
  height: 100%;
}
.list .MuiList-root{
  padding: 3rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.par-mui .MuiBackdrop-root{
  /* to change bg-color of left side nav open */
  background-color: rgba(0,0,0,0.75) !important;
}
.side-list-logo-x{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
}
.log-bt-side{
  background-color: #08152D;
  color: #fff !important;
  width: 156px;
  border-radius: 0;
  border: 1px solid #08152D;
  margin-bottom: 6px;
}
.log-bt-side-w{
  background-color: #fff;
  color: #08152D;
  width: 156px;
  border-radius: 0;
  border: 1px solid #08152D;
  margin-top: 6px;
}
@keyframes bt-reg {
  0% {
      color: #fff;
      background-color: #08152D;
    }
    100% {
      color: #08152D;
      background-color: #fff;
    }
}
@keyframes bt-log {
  0% {
      color: #08152D;
      background-color: #fff;
    }
    100% {
      color: #fff;
      background-color: #08152D;
    }
}
.log-bt-side:hover{
  animation: bt-log 0.8s linear;  
  color: #fff;
}
.log-bt-side-w:hover{
  animation: bt-reg 0.8s linear;
  color: #08152D;
}
.times-mob-side>i{
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 1rem 1rem 0;
}
.brand-broker{
  height: 3rem; 
  margin-left: 89px;
}
.mid-menu{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.menus-links{
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  color: #08152D;
  font-weight: 700;
}
.menus-links:hover{
  color: #000;
  font-weight: 800;
  animation: animmenlink 0.8s linear;
}
@keyframes animmenlink {
  0% {
      color: #fff;
    }
    100% {
      color: #08152D;
    }
}
.m-app-btn{
  background-color: #ffffff;
  color: #08152D;
  border-color: #ffffff;
  font-size: 14px;
  padding: .375rem 1.3rem;
  font-weight: 600;
  min-width: 8rem;
}
.m-app-btn:hover{
  color: #08152D;
}
.broker-tv-img{
  width: 24px;
  margin-left: 4px;
}
.m-app-mui .MuiDrawer-paper{
  height: 100vh;
  padding: 20px;
}
.m-app-back{
  color: #08152D;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.mob-app-dow{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.m-app-brand{
  background-color: #08152D;
  border-radius: 10px;
  padding: 10px;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-app-brand>img{
  width: 100%;
  height: 100%;
}
.m-app-l-h-p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.m-app-l-h-p>h4{
  color: #08152D;
  font-weight: 700;
  margin-top: 2rem;
}
.dow-m-app-b{
  color: #08152D;
  text-align: center;
}
.dow-m-app-b>h5{
  color: #08152D;
  font-weight: 700;
}
.andr-io-m-app{
  border: 0.5px solid #08152D;
  padding: 8px;
  margin: 4px;
  background: #FFFFFF;
  border-radius: 5px;
  min-width: 12rem;
}
.andr-io-m-app>i{
  font-size: 20px;
  margin-right: 4px;
}
.andr-io-m-app>span{
  font-size: 16px;
  font-weight: 700;
}
.broker-tv-mob-img{
  width: 32px;
}

@media only screen and (max-width: 768px){
  .brand-broker{
    height: 2rem;
    margin-left: 30px;
  }
  .m-app-btn{
    display: none;
  }
  .andr-io-m-app{
    padding: 8px 0;
    margin: 4px 0;
  }
}
@media only screen and (max-width: 600px){
  .MuiDrawer-paperAnchorLeft{
    width: 100%;
  }
  .side-list-mf{
    text-align: center !important;
  }
  .list {
    width: 100%;
  }
  .list .MuiList-root{
    padding: 0 0 1rem 0;
  }
}
@media only screen and (min-width: 601px){
  .times-mob-side{
    display: none;
  }
}
@media only screen and (min-width: 769px){
  .nav-full{
    padding: 0.5rem 4rem;
  }
  .on-mob-m-app{
    display: none;
  }
  .m-brok-tv{
    display: none;
  }
  .broker-tv-mob-img{
    display: none;
  }
}
@media only screen and (max-width: 768px){
  .on-desk-m-app{
    display: none;
  }
}
@media only screen and (min-width: 1500px){
  .m-app-brand{
    width: 15rem;
    height: 14rem;
    padding: 20px 10px;
  }
  .m-app-brand>img{
    width: 85%;
    height: 70%;
  }
  .m-app-l-h-p>h4{
    font-size: 2rem;
  }
  .m-app-l-h-p>p{
    font-size: 18px;
  }
  .dow-m-app-b>h5{
    font-size: 1.6rem;
  }
  .andr-io-m-app{
    padding: 10px;
    min-width: 14rem;
  }
  .andr-io-m-app>i{
    font-size: 22px;
  }
  .andr-io-m-app>span{
    font-size: 18px;
  }
}
@media only screen and (min-width: 1700px){
  .nav-full{
    min-height: 94px;
  }
}