/* .botm-m-app{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #08152D;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
} */
.dow-m-app-mob{
    color: #08152D;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

/* @media only screen and (min-width: 769px){
    .botm-m-app{
        display: none;
    }
} */