body{
  font-family: 'Montserrat', sans-serif !important;
}
.MuiTypography-body1 {
  font-family: 'Montserrat', sans-serif !important;
}
.move-marg-bef{
  margin-left: 0;
  transition: all .15s;
}
.move-marg-aft{
  margin-left: 310px;
  transition: all .15s;
}
.move-brok-bef{
  margin-right: 0;
  transition: all .15s;
}
.move-brok-aft{
  margin-right: calc(100% / 3);
  transition: all .15s;
}

.btn-nvestblue{
  background-color: #0d1f47;
  color: #fff;
}
.btn-nvestblue:hover{
  background-color: #0d1f47;
  color: #fff;
}
a {
  color: #08152D !important;
}
a:hover {
  color: #08152D;
  text-decoration: none;
}
.ant-message{
  z-index: 1400 !important;
}

@media only screen and (max-width: 600px){
  .move-marg-aft{
    margin-left: 0px;
  } 
}