.lf-rt-ios{
    display: flex;
    padding-top: 74px;
}
.lf-ios-reg-main{
    flex: 1 1 60%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 74px);
    position: relative;
}
.lf-ios-reg-main>img{
    width: 16rem;
    margin-bottom: 2rem;
}
.cnt-lf-para{
    text-align: center;
    max-width: 422px;
    margin-bottom: 2rem;
}
.lf-s-btn{
    background-color: #fff;
    color: #08152D;
    border: 0.5px solid #08152D;
    border-radius: 5px;
    min-width: 120px;
}
.lf-s-btn:hover{
    background-color: #fff;
    color: #08152D;
}
.ios-vi-dw{
    position: absolute;
    bottom: 30px;
    margin: 0;
    color: #08152D;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.rt-ios-reg-main{
    height: calc(100vh - 74px);
    flex: 1 1 40%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.ios-reg-steps{
    background: #FFFFFF;
    border: 0.5px solid #E5E5E5;
    padding: 12px;
    text-align: center;
    width: 100%;
}
.ios-reg-steps:hover{
    background: #08152D;
    color: #fff;
    border: 0.5px solid #E5E5E5;
}
.all-ios-reg-setp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.wct-vid-ios-reg{
    background-color: #08152D;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.step-setup-pr{
    padding: 2rem;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.step-setup-pr::-webkit-scrollbar{
    display: none;
}

@media only screen and (min-width: 1700px){
    .lf-rt-ios{
        padding-top: 94px;
    }
    .lf-ios-reg-main{
        height: calc(100vh - 94px);
    }
    .rt-ios-reg-main{
        height: calc(100vh - 94px);
    }
}