.draw-vid .MuiBackdrop-root, .draw-vid{
    background-color: transparent;
    width: calc(100% / 3);
    left: unset !important;
}
.brok-tv-full{
    padding: 1rem;
    background-color: #fff;
    color: #08152D; 
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brok-tv-full>img{
    margin: 0 auto;
    width: 60px;
}
.draw-vid .MuiDrawer-paper{
    /* min-width: 776px; */
    width: calc(100% / 3);
}
.vid-play-draw{
    /* height: 436px; */
    /* width: 776px; */
}
.vid-tabs .nav-tabs{
    /* border-bottom: none; */
    text-align: center;
    flex-direction: row;
}
.vid-tabs .nav-link{
    width: calc(100% / 4);
    border: none;
    padding: 0 0.5rem;
    padding: 1rem 0;
}
.vid-tabs .nav-link:focus{
    outline: none;
}
.vid-tabs .nav-link.active{
    font-weight: 700;
    color: #08152D;
    padding: 1rem 0;
    border-bottom: 1px solid #08152D;
}
.comment-in-brk{
    width: 100%;
    border: 1px solid #dcdcdc;  
    border-left: none;  
    border-right: none;  
    display: flex;  
    align-items: center;
}
.comment-in-brk>input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: unset;
}
.comment-in-brk>input:focus{
    border: 1px solid #dcdcdc;
    border-radius: unset;
    outline: none;
}
.comment-in-brk>i{
    margin-left: auto;
    padding: 0 10px;
    font-size: 20px;
    color: #08152D;
}
.comment-user-brk {
    background-color: #c4c4c4;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 4px 10px 0 0;
}
.brok-tv-all-con{
    padding: 1rem;
    height: 100%;
}
.conten-all-btv{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.contn-img{
    margin: 0 4px;
    width: 5.4rem;
}
.contn-brd-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0 4px;
    padding: 4px;
}
.set-con-brn{
    width: 100%;
    display: flex;
    overflow: scroll;
}
.set-con-brn::-webkit-scrollbar{
    display: none;
}
.brok-tv-bott{
    position: fixed;
    bottom: 0;
    width: calc(100% / 3);
    height: 55px;
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
    cursor: pointer;
}
.off-close-btv{
    font-size: 15px;
    padding: 1rem;
    min-width: 4rem;
    text-align: center;
}
.chan-gui{
    padding: 1rem;
    font-size: 15px;
    width: 100%;
    min-width: calc(50% - 2rem);
    border-left: 0.5px solid #FFFFFF;
}
.prof-brd-v{
    padding: 1rem; 
    font-size: 15px;
    width: 100%;
    min-width: calc(50% - 2rem);
    border-left: 0.5px solid #FFFFFF;
    color: #fff;
}
.ft-p-list>div{
    display: flex;
    align-items: center;
    margin: 4px 0;
}
.ft-list-vid{
    width: 10rem;
    height: 6rem;
    border: 0.5px solid rgba(153, 153, 153, 0.25);
    margin-right: 10px;
}
.play-lis-full{
    padding: 1rem 65px;
}

@media only screen and (max-height: 809px){
    /* .draw-vid .MuiDrawer-paper{
        min-width: 793px;
    } */
    /* .brok-tv-bott{
        min-width: 793px;
    } */
}
@media only screen and (min-width: 1700px){
    .brok-tv-full{
        min-height: 94px;
    }
}
@media only screen and (min-height: 800px){
    .play-lis-full{
        padding: 1rem 65px 0 65px; 
        height: calc(100vh - 710px); 
        overflow: scroll;
    }
}
@media only screen and (max-width: 768px){
    .draw-vid .MuiDrawer-paper, .brok-tv-bott, .draw-vid .MuiBackdrop-root, .draw-vid{
        width: 100%;
    }
    .play-lis-full {
        height: calc(100vh - 797px);
    }
}